// Chat
.chat{
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 60px;
    height: 60px;
    background-color: #ed889a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
scale: 1.15;
    }
}
// Home
.home{
    margin-left: 80px;
    margin-top: 11vh;
    width: 94vw;
    border-radius: 2.4mm;
    padding: 10px;
}